language: ruby
cache: bundler
rvm:
  - 2.6
  - 2.4
git:
  depth: 3

# we need a more recent cmake than travis/linux provides (at least 2.8.9):
addons:
  apt:
    sources:
      - kalakris-cmake
    packages:
      - cmake

before_install:
  - gem update --system
  - gem install bundler
before_script: bundle update
script: script/cibuild

env:
  global:
  - NOKOGIRI_USE_SYSTEM_LIBRARIES=true
